* {
  padding:0;
  margin:0;
}

*:focus {
  outline:none;
}


body {
  background-color:#301091;
  font-family: 'Abel', sans-serif;
}

#random {
  display:flex;
  justify-content:center;
  margin:15% auto 2% auto;
  color:white;
  font-size:1.75em;
  width:40%;
  text-align:center;
}

#random:hover {
  text-decoration:none;
  /*border:0.5px solid white;*/
  box-shadow:1px 0px 6px;
  border-radius:3px;
  
}

#search {
  background-color:#301091;
  border:none;
  color:white;
  display:flex;
  justify-content:center;
  margin:1% auto;
}

#searchBar {
  display:flex;
  justify-content:center;
  margin:1% auto;
  width:60%;
  text-align:center;
  font-size:1.35em;
  padding:0.7%;
  font-family:sans-serif;
  border:none;
  border-radius:5px;
}

#searchButton {
  display:flex;
  justify-content:center;
  margin:1.3% auto;
  background-color:#301091;
  color:white;
  border:none;
}

#instructions {
  color:white;
  text-align:center;
  font-size:1.5em;
  margin-top:1%;
  margin-bottom:8%;
}

li {
  display:flex;
  justify-content:center;
  margin:2% auto;
  background-color:white;
  color:#301091;
  border-radius:5px;
  padding:2%;
  opacity:0.8;
  font-size:1.3em;
}

li a{
  text-decoration:underline;
  margin-right:3%;
}

